<!DOCTYPE HTML>
<html>
<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/static/style/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <style>
    #bg::after {
      content: "";
      position: absolute;
      top: 0; left: 0;
      width: 100%; height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }

    body > *:not(#bg) {
      position: relative;
      z-index: 2;
    }
  </style>
</head>
<body class="is-preload">

  <!-- Header -->
  <header id="header">
    <h1>{{ .Title }}</h1>
    <div>{{ .Description }}</div>
  </header>

  <!-- Signup Form -->
  <form id="signup-form" method="post" action="#">
    <input type="email" name="email" id="email" placeholder="Введите ваш email" required />
    <input type="submit" value="Связаться со мной" />
  </form>

  <!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      <li><a href="https://t.me/t1_sho0" class="icon brands fa-telegram"><span class="label">Telegram</span></a></li>
      <li><a href="https://instagram.com/t1_sho0" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="https://github.com/t1sho0" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
      <li><a href="mailto:muminovabdurashid08@gmail.com" class="icon fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <ul class="copyright">
      <li>&copy; Муминов Абдурашид.</li>
      <li>Создано с помощью Go</li>
    </ul>
  </footer>

  <!-- Scripts -->
  <script src="/static/scripts/main.js"></script>
</body>
</html>